{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>للبحث عن كتاب</h1>
    <form action="{% url 'book_search' %}" method="GET">
        <input type="text" name="q" placeholder="Search books...">
        <button type="submit">بحث</button>
    </form>
    {% if query %}
    <p>نتائج البحث "{{ query }}":</p>
    {% endif %}
    <ul>
        {% for book in books %}
        <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></li>
        {% empty %}
        <li>الكتاب غير موجود</li>
        {% endfor %}
    </ul>
    <a href="{% url 'book_list' %}">العودة إلى قائمة الكتب</a>

{% endblock content %}