{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bookclub/styles.css' %}">
{% block content %}

    <h1>Search about a book:</h1>
    <form action="{% url 'book_search' %}" method="GET">
        <input type="text" name="q" placeholder="book name...">
        <button type="submit">Search</button>
    </form>
    {% if query %}
    <p>Result "{{ query }}":</p>
    {% endif %}
    <ul>
        {% for book in books %}
        <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></li>
        {% empty %}
        <li>No books available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'book_list' %}">Back to books list</a>

{% endblock content %}