{% extends 'base.html' %}

{% block content %}
    <header>
        <h1>مرحبًا بك في نادي القراء الافتراضي</h1>
        <nav>
            <ul>
                <li><a href="#">الصفحة الرئيسية</a></li>
                <li><a href="#">عن النادي</a></li>
                <li><a href="#">تواصل معنا</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>عن النادي</h2>
            <h4> نادي القراء الافتراضي: يستعرض أبرز الكتب من اختيار القراء </h4>
            <p> يتيح النادي لك الإطلاع على الكتب وتفاصيلها , التعديل عليها , وأن كانت غير مناسبة حذفها</p>
        </section>

        <section>
            <h2>All Books</h2>
        <ul>
            {% for book in books %}
            <li>
                <img src="{{ book.image.url }}" alt="{{ book.title }}">
                <h3>{{ book.title }}</h3>
                <p>Author: {{ book.author }}</p>
                <p>Description: {{ book.description }}</p>
                <a href="{% url 'edit_book' book.id %}">Edit</a>
                <a href="{% url 'delete_book' book.id %}">Delete</a>
            </li>
            {% empty %}
            <li>No books available.</li>
            {% endfor %}
        </ul>
        </section>

        <section>
            <h2>P</h2>
            <!-- Add popular genres or categories here -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 virtual book club. </p>
    </footer>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bookclub/styles.css' %}">
{% endblock %}